<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:fo="http://typo3.org/ns/Fab/Formule/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<fo:loadAssets/>

	<style>
		.rating {
			float:left;
			width:200px;
		}
		.rating span { float:right; position:relative; }
		.rating span input {
			position:absolute;
			top:0px;
			left:0px;
			opacity:0;
		}
		.rating span label {
			content: "\2605";
			display:inline-block;
			width:20px;
			height:20px;
			text-align:center;
			color:#FFF;
			background:#ccc;
			font-size:20px;
			margin-right:2px;
			line-height:20px;
			border-radius:50%;
			-webkit-border-radius:50%;
		}
		.rating span:hover ~ span label,
		.rating span:hover label,
		.rating span.checked label,
		.rating span.checked ~ span label {
			background:#F90;
			color:#FFF;
		}
	</style>

	<fo:loadAssets>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Check Radio-box
				$(".rating input:radio").attr("checked", false);

				$('.rating input').click(function () {
					$(".rating span").removeClass('checked');
					$(this).parent().addClass('checked');
				});

				$('input:radio').change(
						function(){
							var userRating = this.value;
						});
			});
		</script>
	</fo:loadAssets>

	<div class="form-area">
		<f:form action="submit" controller="Form" additionalAttributes="{role: 'form'}" method="post">

			<h3>
				Votre appréciation du travail qui a été fait
			</h3>

			<div class="col-md-12">
				<span>Comment avez-vous apprécier le travail de façon général sur ce projet?</span>
			</div>

			<div class="rating">
				<span><input type="radio" name="rating" id="work_str5" value="5"><label for="work_str5"></label></span>
				<span><input type="radio" name="rating" id="work_str4" value="4"><label for="work_str4"></label></span>
				<span><input type="radio" name="rating" id="work_str3" value="3"><label for="work_str3"></label></span>
				<span><input type="radio" name="rating" id="work_str2" value="2"><label for="work_str2"></label></span>
				<span><input type="radio" name="rating" id="work_str1" value="1"><label for="work_str1"></label></span>
				<span>Note : &nbsp</span>
			</div>


			<div class="form-group">
				<textarea class="form-control"
				          id="work_remark"
				          name="work_remark"
				          placeholder="Complément / remarque"
				          rows="3">{values.work_remark}</textarea>
			</div>

			<div class="col-md-12">
				<span>Comment avez-vous apprécier la communication sur ce projet?</span>
			</div>

			<div class="rating">
				<span><input type="radio" name="rating" id="com_str5" value="5"><label for="com_str5"></label></span>
				<span><input type="radio" name="rating" id="com_str4" value="4"><label for="com_str4"></label></span>
				<span><input type="radio" name="rating" id="com_str3" value="3"><label for="com_str3"></label></span>
				<span><input type="radio" name="rating" id="com_str2" value="2"><label for="com_str2"></label></span>
				<span><input type="radio" name="rating" id="com_str1" value="1"><label for="com_str1"></label></span>
				<span>Note : &nbsp</span>
			</div>


			<div class="form-group ">
				<textarea class="form-control"
				          id="com_remark"
				          name="com_remark"
				          placeholder="Complément / remarque"
				          rows="3">{values.com_remark}</textarea>
			</div>

			<div class="col-md-12">
				<span>Comment avez-vous apprécier la ponctualité?</span>
			</div>

			<div class="rating">
				<span><input type="radio" name="rating" id="punctuality_str5" value="5"><label for="punctuality_str5"></label></span>
				<span><input type="radio" name="rating" id="punctuality_str4" value="4"><label for="punctuality_str4"></label></span>
				<span><input type="radio" name="rating" id="punctuality_str3" value="3"><label for="punctuality_str3"></label></span>
				<span><input type="radio" name="rating" id="punctuality_str2" value="2"><label for="punctuality_str2"></label></span>
				<span><input type="radio" name="rating" id="punctuality_str1" value="1"><label for="punctuality_str1"></label></span>
				<span>Note : &nbsp</span>
			</div>


			<div class="form-group">
				<textarea class="form-control"
				          id="punctuality_remark"
				          name="punctuality_remark"
				          placeholder="Complément / remarque"
				          rows="3">{values.punctuality_remark}</textarea>
			</div>

			<div class="col-md-12">
				<span>Etes vous satisfait du travail fait de manière globale ?</span>
			</div>

			<div class="rating">
				<span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
				<span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
				<span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
				<span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
				<span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
				<span>Note : &nbsp</span>
			</div>

			<div class="form-group">
				<textarea class="form-control"
				          id="global_remark"
				          name="global_remark"
				          placeholder="Complément / remarque"
				          rows="3">{values.global_remark}</textarea>
			</div>

			<div class="col-md-12">
				<span>Qu'est-ce que vous voudriez voir améliorer pour un prochain projet, sur le plan technique ou de façon générale?</span>
			</div>

			<div class="form-group">
				<textarea class="form-control"
				          id="suggestion"
				          name="suggestion"
				          placeholder="Complément / remarque"
				          rows="3">{values.suggestion}</textarea>
			</div>

			<input type="submit" value="Soumettre" class="btn btn-primary pull-right">

		</f:form>
	</div>

</f:section>
</html>
